#main {
  border: 1px solid black;
  height: 640px;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

.member-page-side {
  background: white;
  height: 396px;
  position: absolute;
  top: 48px;
  width: 84px;
  z-index: 6;
}

.switch-page-img {
  cursor: pointer;
  position: relative;
  top: 156px;
}

.unit-member {
  height: 96px;
  width: 96px;
}

.status-hp-bg {
  background: #bbb;
}

.status-hp-text {
  color: #e50;
  text-shadow:
    1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff,
    2px 0 0 #fff, 0 2px 0 #fff, -2px 0 0 #fff, 0 -2px 0 #fff;
}

.status-smile-bg {
  background: #fcc;
}

.status-smile-text {
  color: #ff74a6;
}

.status-pure-bg {
  background: #9ed;
}

.status-pure-text {
  color: #0c3;
}

.status-cool-bg {
  background: #7ce;
}

.status-cool-text {
  color: #09e;
}

.status-bonus-text {
  color: red;
}

.unit-status-panel {
  height: 30px;
  position: absolute;
  text-align: center;
  top: 281px;
  line-height: 30px;
}

.unit-status-text-base {
  font-size: 22px;
  font-weight: bolder;
}

.unit-status-text-bonus {
  font-size: 20px;
}

.live-setting {
  background: #ff5a99;
  color: white;
  font-size: 1.5em;
}

